<div id="card-${card-num}" class="card" data-card="${card-num}">
    <div class="wrapper">
    	<table class="nums">
    		<thead class="header">
    			<tr>
    				<td class="card-num"><span class="num">${card-num}</span></td>
    				<td colspan="5"><button type="button"class="auto-fill"><span class="fill">auto fill</span><span class="clear">clear</span></button></td>
    			</tr>
    		</thead>
    		<tbody class="body">
    			<tr class="row">
    				<td class="num" data-value="1"><div class="value">1</div></td>
    				<td class="num" data-value="10"><div class="value">10</div></td>
    				<td class="num" data-value="19"><div class="value">19</div></td>
    				<td class="num" data-value="28"><div class="value">28</div></td>
    				<td class="num" data-value="37"><div class="value">37</div></td>
    				<td class="num" data-value="46"><div class="value">46</div></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="2"><div class="value">2</div></td>
    				<td class="num" data-value="11"><div class="value">11</div></td>
    				<td class="num" data-value="20"><div class="value">20</div></td>
    				<td class="num" data-value="29"><div class="value">29</div></td>
    				<td class="num" data-value="38"><div class="value">38</div></td>
    				<td class="num" data-value="47"><div class="value">47</div></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="3"><div class="value">3</div></td>
    				<td class="num" data-value="12"><div class="value">12</div></td>
    				<td class="num" data-value="21"><div class="value">21</div></td>
    				<td class="num" data-value="30"><div class="value">30</div></td>
    				<td class="num" data-value="39"><div class="value">39</div></td>
    				<td class="num" data-value="48"><div class="value">48</div></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="4"><div class="value">4</div></td>
    				<td class="num" data-value="13"><div class="value">13</div></td>
    				<td class="num" data-value="22"><div class="value">22</div></td>
    				<td class="num" data-value="31"><div class="value">31</div></td>
    				<td class="num" data-value="40"><div class="value">40</div></td>
    				<td class="num" data-value="49"><div class="value">49</div></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="5"><div class="value">5</div></td>
    				<td class="num" data-value="14"><div class="value">14</div></td>
    				<td class="num" data-value="23"><div class="value">23</div></td>
    				<td class="num" data-value="32"><div class="value">32</div></td>
    				<td class="num" data-value="41"><div class="value">41</div></td>
    				<td class="num" data-value="50"><div class="value">50</div></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="6"><div class="value">6</div></td>
    				<td class="num" data-value="15"><div class="value">15</div></td>
    				<td class="num" data-value="24"><div class="value">24</div></td>
    				<td class="num" data-value="33"><div class="value">33</div></td>
    				<td class="num" data-value="42"><div class="value">42</div></td>
    				<td></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="7"><div class="value">7</div></td>
    				<td class="num" data-value="16"><div class="value">16</div></td>
    				<td class="num" data-value="25"><div class="value">25</div></td>
    				<td class="num" data-value="34"><div class="value">34</div></td>
    				<td class="num" data-value="43"><div class="value">43</div></td>
    				<td></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="8"><div class="value">8</div></td>
    				<td class="num" data-value="17"><div class="value">17</div></td>
    				<td class="num" data-value="26"><div class="value">26</div></td>
    				<td class="num" data-value="35"><div class="value">35</div></td>
    				<td class="num" data-value="44"><div class="value">44</div></td>
    				<td></td>
    			</tr>
    			<tr class="row">
    				<td class="num" data-value="9"><div class="value">9</div></td>
    				<td class="num" data-value="18"><div class="value">18</div></td>
    				<td class="num" data-value="27"><div class="value">27</div></td>
    				<td class="num" data-value="36"><div class="value">36</div></td>
    				<td class="num" data-value="45"><div class="value">45</div></td>
    				<td></td>
    			</tr>
    		</tbody>
    	</table>
    	<table class="stars">
    		<tbody>
    			<tr>
    				<td class="star" data-value="1"><div class="value">1</div></td>
    				<td class="star" data-value="4"><div class="value">4</div></td>
    				<td class="star" data-value="7"><div class="value">7</div></td>
    				<td class="star" data-value="10"><div class="value">10</div></td>
    			</tr>
    			<tr>
    				<td class="star" data-value="2"><div class="value">2</div></td>
    				<td class="star" data-value="5"><div class="value">5</div></td>
    				<td class="star" data-value="8"><div class="value">8</div></td>
    				<td class="star" data-value="11"><div class="value">11</td>
    			</tr>
    			<tr>
    				<td class="star" data-value="3"><div class="value">3</div></td>
    				<td class="star" data-value="6"><div class="value">6</div></td>
    				<td class="star" data-value="9"><div class="value">9</div></td>
    				<td></td>
    			</tr>
    		</tbody>
    	</table>
	</div>
</div>