<div class="order-done">successfully registered</div>
<h1>order summary</h1>
<table class="table shop-items">
    <thead class="header">
        <tr>
            <th class="text-left">Product</th>
            <th class="text-left">Bets</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody class="body">${items-rows}</tbody>
    <tfoot class="foot">
        <tr>
            <td></td>
            <td class="text-right">Total</td>
            <td class="text-right">${total-price}€</td>
        </tr>
    </tfoot>
</table>